@import "tailwindcss";

@theme {
  /* Konfigurasi Font */
  --font-sans: var(--font-jakarta), sans-serif;

  /* Konfigurasi Warna Maincore */
  --color-mc-base: #FFFFFC;
  --color-mc-soft: #DFE7F7;
  --color-mc-primary: #234CF9;
  --color-mc-dark: #1C277B;

  --color-success: #16A34A;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
  --color-info: #2563EB;
}

@layer base {
  body {
    background-color: var(--color-mc-base);
    color: var(--color-mc-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .glass-panel {
    background-color: rgb(255 255 255 / 0.4);
    backdrop-filter: blur(12px);
    border: 1px solid rgb(255 255 255 / 0.5);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  .glass-panel-dark {
    background-color: rgb(28 39 123 / 0.1);
    backdrop-filter: blur(16px);
    border: 1px solid rgb(28 39 123 / 0.2);
  }

  .glass-panel-strong {
    background-color: rgb(255 255 255 / 0.6);
    backdrop-filter: blur(24px);
    border: 1px solid rgb(255 255 255 / 0.6);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }
}